* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #10091f;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#telaInicial {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/tela-inicial.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #160b2e;
  position: relative;
}

#botaoJogar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 35%);
  width: 260px;
  height: 75px;
  background: #ff4f93;
  color: white;
  border: 4px solid #ffd86b;
  border-radius: 14px;
  font-size: 32px;
  font-weight: bold;
}

#game {
  display: none;
  width: 100vw;
  height: 100vh;
}

#telaVitoria {
  display: none;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#241040, #ff8fbd);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.caixa {
  background: #1d1230;
  border: 5px solid #ffd86b;
  border-radius: 20px;
  padding: 30px;
  max-width: 600px;
}

.caixa h1 {
  color: #ffd86b;
  margin-bottom: 20px;
}

.caixa p {
  font-size: 20px;
  margin: 10px;
}

.caixa button {
  margin-top: 20px;
  padding: 15px 25px;
  background: #ff4f93;
  color: white;
  border: 3px solid #ffd86b;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
}

#controlesMobile {
  display: none;
  position: fixed;
  bottom: 15px;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

#controlesMobile button {
  width: 70px;
  height: 60px;
  font-size: 28px;
  border-radius: 15px;
  border: 3px solid #ffd86b;
  background: #1d1230;
  color: white;
}

@media (max-width: 900px) {
  #controlesMobile {
    display: flex;
  }
}
