* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#telaInicial {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/tela-inicial.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #24153d;
  position: relative;
}

#botaoJogar {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  width: 240px;
  height: 70px;
  border: 4px solid #ffd86b;
  border-radius: 14px;
  background: #ff4f93;
  color: white;
  font-size: 34px;
  font-weight: bold;
}
